<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring for Android Showcase</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>ADMINS MANAGE</h1>

    <table border="1">
        <tr>
            <td>id</td>
            <td>email</td>
            <td>firstname</td>
            <td>lastname</td>
            <td></td>
        </tr>
        <tr th:each="admin : ${admins}">
            <td th:utext="${admin.id}"></td>
            <td><a th:utext="${admin.email}"></a></td>
            <td><a th:utext="${admin.firstname}"></a></td>
            <td><a th:utext="${admin.lastname}"></a></td>
            <td><a th:utext="Delete" th:href="@{/admin/panel/admin/delete(id=${admin.id})}"></a></td>
        </tr>
    </table>
    <br>
    <a th:href="@{/admin/panel/admin/add}">Change user to admin</a><br><br>
    <a th:href="@{/admin/panel}">Back</a>
</body>
</html>
